include doc/html/*
include doc/html/_images/*
include doc/html/_static/*
include radmc3dPy/models/*.py
include radmc3dPy/*.py
include python_examples/datafiles/*
include python_examples/run_lines_nlte_lvg_1d_1/*
include python_examples/run_ppdisk_acc/*
include python_examples/run_ppdisk_dust+gas/*
include python_examples/run_simple_1/*
include python_examples/run_simple_1_binary/*
include python_examples/run_spher1d_1/*
include python_examples/run_spher2d_1/*
include python_examples/run_test_scattering_1/*

exclude radmc3dPy/crd_trans_vec.py
exclude radmc3dPy/makeopac.py

