include doc/html/*
include doc/html/_images/*
include doc/html/_static/*
include doc/html/_static/css/*
include doc/html/_static/fonts/*
include doc/html/_static/js/*
include radmc3dPy/*.py
include python_examples/datafiles/*
include python_examples/run_lines_nlte_lvg_1d_1/*
include python_examples/run_octree_ppdisk/*
include python_examples/run_ppdisk_acc/*
include python_examples/run_ppdisk_dust+gas/*
include python_examples/run_simple_1/*
include python_examples/run_simple_1_binary/*
include python_examples/run_spher1d_1/*
include python_examples/run_spher2d_1/*
include python_examples/run_test_scattering_1/*
include python_examples/run_ppdisk_dust+gas_custom_setup/*
include python_examples/run_sph_octree_amr/*
include python_examples/run_sph_regular_grid/*


include radmc3dPy/models/lines_nlte_lvg_1d_1.py
include radmc3dPy/models/ppdisk.py
include radmc3dPy/models/ppdisk_acc.py
include radmc3dPy/models/ppdisk_amr.py
include radmc3dPy/models/simple_1.py
include radmc3dPy/models/sphere1d_1.py
include radmc3dPy/models/sphere2d_1.py
include radmc3dPy/models/template.py
include radmc3dPy/models/test_scattering_1.py

exclude radmc3dPy/crd_trans_vec.py
exclude radmc3dPy/makeopac.py
